<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.AuthContext" connectionString="Data Source=WIN-PHC4OQMUN4N\JOHNDEV2012;Initial Catalog=Doddle;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.DoddleNowConnectionString"
            connectionString="Data Source=appidentity.c6qpaqe4bu02.us-west-2.rds.amazonaws.com,1433;Initial Catalog=DoddleNow;Persist Security Info=True;User ID=DoddleNow;Password=gz983~1!I0xX2%"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.DoddleNowConnectionString1"
            connectionString="Data Source=appidentity.c6qpaqe4bu02.us-west-2.rds.amazonaws.com,1433;Initial Catalog=DoddleNow;Integrated Security=False;User ID=DoddleNow;Password=gz983~1!I0xX2%;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.DoddleNowConnectionString2"
            connectionString="Data Source=appidentity.c6qpaqe4bu02.us-west-2.rds.amazonaws.com,1433;Initial Catalog=DoddleNow;Integrated Security=False;User ID=DoddleApplication;Password=[$C7N!6jK;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.DoddleConnectionString"
            connectionString="Data Source=doddlenow.c4ayuzkbrgxi.us-east-1.rds.amazonaws.com,1433;Initial Catalog=Doddle;Integrated Security=False;User ID=doddleapplication;Password=%*Z8UtWsUDec8xNk;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
